    img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-top: 8px;
    }
    
    h1 {
    font-size: 62px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 4px solid;
    border-radius: 20px;
    }
    
    .lights {
    border-radius: 1000px;
    border: gray 2px solid;
    }
    
    body {
    background-color: #FAF8FF;
    font-size: 25px;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 560px;
    margin: 20px auto;
    color: #202225;
    border: 6px solid lightslategray;
    }

    html {
    background-color: #000000;
    }

    .white {
    border: #202225 3px solid;
    }

    .black {
    border: #FAF8FF 3px solid;
    }
    
    .working2 {
    border: #FAF8FF 3px solid;
    background-color: #202225;
    color: #FAF8FF;
    }

    input {
    color: #202225;
    border: #202225 3px solid;
    border-radius: 25px;
    font-size: 25px;
    padding-left: 2.5px;
    background-color: #FAF8FF;
    }

    button {
    border-radius: 25px;
    border: 3px solid #202225;
    background-color: #FAF8FF;
    font-size: 25px;
    color: #202225;
    }

    .button2 {
    font-size: 25px;
    border: 3px solid #FAF8FF;
    color: #FAF8FF;
    background-color: #202225;
    }

    .styles {
    border-radius: 25px;
    font-size: 19px;
    }

    .styles2 {
    border-radius: 25px;
    font-size: 19px;
    border: 3px solid #FAF8FF;
    color: #FAF8FF;
    background-color: #202225;
    }

    select {
    font-size: 25px;
    border-radius: 25px;
    padding-left: 7px;
    border: 3px solid #202225;
    color: #202225;
    background-color: #FAF8FF;
    }

    .select2 {
    border: 3px solid #FAF8FF;
    color: #FAF8FF;
    background-color: #202225;
    }

    .body {
    border: 6px solid #FAF8FF;
    }

    .html {
    background-color: #000000;
    }

    .borders {
    border: 2.5px solid #202225;
    border-radius: 100px;
    }

    .borders2
    {
    border: 2.5px solid #FAF8FF;
    }

    .light {
    border: 3px solid #202225;
    }

    .gray {
    border: gray 2px solid;
    }

    h2 {
    text-decoration: underline;
    }

    #mode {
    text-decoration: underline;
    }
